.button-container {
    display: flex;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 20px;
  }
  
  .search-container {
    margin-right: 10px; /* Adjust the spacing between the search icon and input */
  }
  
  .create-container {
    margin-left: auto; /* Push the create button to the right */
  }
  