<div class="button-container">
  <div class="search-container">
    <i class="pi pi-search" style="margin-right: 4px"></i>
    <input type="text" pInputText size="50" placeholder="Search" [(ngModel)]="searchQuery" (input)="search()" style="width:350px">
  </div>
  <div class="create-container">
    <p-button label="Create" (click)="create()" styleClass="p-button-raised p-button-lg" icon="pi pi-plus"></p-button>
  </div>
</div>

<p-table [value]="filteredBooks" [paginator]="true" [rows]="10" [sortMode]="'multiple'" (sort)="onSort($event)" responsiveLayout="stack">
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'title'">Title
        <p-sortIcon [field]="'title'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'description'">Description
        <p-sortIcon [field]="'description'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'pageCount'">Page Count
        <p-sortIcon [field]="'pageCount'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'excerpt'">Excerpt
        <p-sortIcon [field]="'excerpt'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'publishDate'">Publish Date
        <p-sortIcon [field]="'publishDate'"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.pageCount }}</td>
      <td>{{ book.excerpt }}</td>
      <td>{{ book.publishDate | date }}</td>
      <td>
        <p-button label="Update" styleClass="p-button-outlined" (click)="update(book.id)" icon="pi pi-file-edit"></p-button>
        <br>
        <br>
        <p-button label="Delete" styleClass="p-button-outlined p-button-danger" (click)="deleteBook(book.id)" icon="pi pi-trash"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
